.container{
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 4rem;
  aside{
    width: 60%;
    .welcome_img{
      width: 70%;
    }
  }
  main{
    background-color: #fff;
    padding: 0 3rem;
    width: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
    form{
      .input-group{
        display: flex;
        flex-direction: column;
      }
    }
  }
}